body {
	color: #bfbfbf;
	font-family: 'Dosis', sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.footer {
	position: relative;
	top: 400px;
	border-top: 1px solid #bfbfbf;
	padding-top: 5px;
	margin: 0 10px;

}

.footer .byline {
	float: right;
}

#site-canvas {
	width:100%;
	height auto;
}